params {

scrublet_PREFIX	       = "/mnt/data0/projects/biohub/rachel2022/output/02_cellranger_count_expectedCells/

scrublet_SUFFIX	       = "/outs/filtered_feature_bc_matrix"

scrublet_OUTS	       = "${baseDir}/results/scrublet/"

refdir                 = '/mnt/data0/referenceGenome/Drosophila_Melanogaster/Ensembl/dm6/'

cellrangersout         = "/mnt/data0/projects/biohub/rachel2022/output/02_cellranger_count_expectedCells/"

sample_id              = ["Control-1","Control-2","Control-3","QASyn-1","QASyn-2","QASyn-3","QTau-1","QTau-2","QTau-4"]


experiment_id          = "rachel_2022"


outdir		       = "${baseDir}/results"

in_key                 = "${baseDir}/samplesheet/ScRNA-seq_Rachel_2022.xlsx"

qc_in_dir              = "${baseDir}/results/"

qc_output 	       = "${baseDir}/results/qc"


// Generic Options
publish_dir_mode = 'copy'

}



