params {

cellranger_software_path =   "/home/acicalo/software/cellranger-7.1.0/"

cellrangers_outdir       =   "${baseDir}/results/cellrangersouts/"

refdir                   =   "/mnt/data0/referenceGenome/Mus_musculus/10x/mm10/refdata-gex-mm10-2020-A/"

fastq_path               =   "/mnt/data0/projects/biohub/susanne2022/raw_data/sussane_2022_raw_files/fastq_files"

ID                       =   "P1708_SP093_105"

sample_id                =   "P1708_SP093_105"

experiment_id            =   "sussane2022"

scrublet_PREFIX          = "/home/acicalo/bioinf_hub/pipeline/nextflow_gen/"

scrublet_SUFFIX	         = "/outs/filtered_feature_bc_matrix"

scrublet_OUT             = "${baseDir}/results/scrubletdir/"

scrublet_dir             = '/mnt/data0/projects/biohub/susanne2022/output/scrubletdir/'

in_key                   = "/mnt/data0/projects/biohub/susanne2022/samplesheet/sussane_2023_samplesheet.csv"

outdir                 = "${baseDir}/results"

qc_in_dir              = "${baseDir}/results/"

qc_output              = "${baseDir}/results/qc"

// Generic Options
publish_dir_mode = 'copy'


// Defaults only, expecting to be overwritten
max_memory = 350.GB
max_cpus = 64
max_time = 240.h

}



