params {

sample_id              = ['Control-1','Control-2','Control-3','Control-4','QASyn-1','QASyn-2','QASyn-3','QTau-1','QTau-2','QTau-4'] 

experiment_id          = "rachel_2022"

data_dir               = "${baseDir}/data/samples/"

in_key                 = "${baseDir}/data/samplesheet/ScRNA-seq_Rachel_2022.xlsx"

qc_in_dir              = "${baseDir}/output/"

qc_output 	       = "${baseDir}/results/qc"


// Generic Options
publish_dir_mode = 'copy'

}



